
<!DOCTYPE html>
<html>
    <head>
     <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../static/css/starter-template.css" rel="stylesheet">
    <title>Insight Q&amp;A repository</title>
    </head>
        <body>
        
           <div class="container">
            
            <div class="starter-template">
                <h1>Huh?!</h1>
                <p class="lead">I didn't get that one.</p>
            </div>
        
        
        </br></br></br>
        <center>
            <font size="3" color=#CDC9C9>© 2018 <a href="mailto:duccio.pappadopulo@gmail.com?Subject=You%20screw%20up" target="_top">Duccio Pappadopulo</a> </font>
        </center>
        
        </body>
        
         </div>
    </html>
