
<!DOCTYPE html>
<html>
    <head>
         <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../static/css/starter-template.css" rel="stylesheet">
    <title>Regression, Classification, ... threads</title>
    </head>
    <body>
    <div class="container">
      
        <h3>Check out some of these threads:</h3>
        </br>
<p><font size="3"><a href="../t2_a1"> Q1 </a></font>: !channel has anyone tried implementing a multiple polynomial regression model in python? I couldn’t find any examples that used both together </p><p><font size="3"><a href="../t2_a2"> Q2 </a></font>: If anyone has any ideas on how to address this, I’m all ears! I use the pickle to save my fit object so I can process database query results against it.</p><p><font size="3"><a href="../t2_a3"> Q3 </a></font>: Linear regression question:
If i have both categorical and continuous features (&gt;0) what is the best way to preprocess the data? My continuous features have wide ranging scales - some are in [0,10], others are in [0,100000]. I can rescale the continuous ones and one-hot encode the categorical ones, but is that the right thing to do? Seems this scheme would favor the categorical variables. </p><p><font size="3"><a href="../t2_a4"> Q4 </a></font>: does anyone know any magic for fitting models with huge datasets? linear regression and random forest both want crazy amounts of memory</p><p><font size="3"><a href="../t2_a5"> Q5 </a></font>: Question: I need to explain random forest to a bunch of analysts in my company. I want to convey the main idea and not get bogged down into the nitty-gritty. Does anybody have a good reference for this?</p>

        </br></br></br>
        
        <center>
            <font size="3" color=#CDC9C9>© 2018 <a href="mailto:duccio.pappadopulo@gmail.com?Subject=You%20screw%20up" target="_top">Duccio Pappadopulo</a> </font>
        </center>
        
        </body>
        
         </div>
    </html>
