
<!DOCTYPE html>
<html>
    <head>
     <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../static/css/starter-template.css" rel="stylesheet">
    <title>Insight Q&amp;A repository</title>
    </head>
        <body>
        
           <div class="container">
            
            <div class="starter-template">
                <h1>Welcome!</h1>
                <p class="lead">Click on a topic to see if you can find the answer you are looking for.</p>
            </div>
            </br>
        
        
<p><font size="4"><a href="../t0"> Neural Networks, activations, layers, loss, ... </a></font></p><p><font size="4"><a href="../t1"> Training, Test, Validation, ... </a></font></p><p><font size="4"><a href="../t2"> Regression, Classification, ... </a></font></p><p><font size="4"><a href="../t3"> Scikit-learn, Pandas, dataframes, SQL, ... </a></font></p><p><font size="4"><a href="../t4"> NLP, word embeddings, Tf-Idf, ... </a></font></p><p><font size="4"><a href="../t5"> Feature extraction, Dimensionality Reduction, PCA, ... </a></font></p><p><font size="4"><a href="../t6"> Time series, sequence, RNN, LSTM, ... </a></font></p><p><font size="4"><a href="../t7"> Clustering, k-means, ... </a></font></p><p><font size="4"><a href="../t8"> Spark, Hadoop, Kafka, ... </a></font></p>

        </br></br></br>
        
        <center>
            <font size="3" color=#CDC9C9>© 2018 <a href="mailto:duccio.pappadopulo@gmail.com?Subject=You%20screw%20up" target="_top">Duccio Pappadopulo</a> </font>
        </center>
        
        </body>
        
         </div>
    </html>
